/* General reset and box-sizing */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body styles */
body {
  font-family: Arial, sans-serif;
  background-color: #181818; /* Dark background */
  color: #ccc; /* Light text color */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  text-decoration: underline;
  color: goldenrod;
  font-size: 1.25rem;
  padding-top: 0.5rem;
}
/* Container that holds all the areas */
.container {
  display: grid;
  padding: 20px;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  height: 100%;
  gap: 20px;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: space-between;
}

/* Area styles */
.area {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #333; /* Dark background for areas */
  border-radius: 16px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  border: solid 2px #f28c28;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

/* Hide the default checkbox */
input[type='checkbox'] {
  display: none;
}

/* Change the color of the label when the checkbox is checked */
input[type='checkbox']:checked + .custom-label {
  color: #4caf50; /* Green when checked */
}

/* Optional: Add a hover effect to the label */
.custom-label:hover {
  cursor: pointer;
  color: #888; /* Slight color change on hover */
}

label {
  padding: 0.25rem 0;
  font-size: 1rem;
  cursor: pointer;
}

.active {
  color: green;
}
